
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   height: 100vh;
}
.box{
    background-color: pink;
    height: 70%;
    width: 60%;
    margin-block: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.box p{
    text-align: center;
    
}
#quote{
    font-size: 20px;
}
#author{
    font-size: 15px;
}